<!doctype html>
<html>
  <head>
    <title>calendar thing</title>
  </head>

  <body>
    <h1>calendar working</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
        <tr>
          <td>{{ row.name }}</td>
          <td>{{ row.start_time }}</td>
          <td>{{ row.end_time }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
