<!doctype html>
<html>
  <head>
    <title>calendar thing</title>
  </head>

  <body>
    <h1>calendar working</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %} {% set start_time = datetime.strptime(row[2],
        "%Y-%m-%d %H:%M:%S") %} {% set end_time = datetime.strptime(row[3],
        "%Y-%m-%d %H:%M:%S") %}
        <tr>
          <td>{{ row[1] }}</td>
          <td>{{ start_time.strftime("%H:%M") }}</td>
          <td>{{ end_time.strftime("%H:%M") }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
